<div style="" class="post" data-id="<%= post.id %>">
  <h3><%= link_to post.title, post %></h3>
  <label style="font-size: x-small">Comments: <%= post.comments.count %></label>
  <label style="font-size: x-small"><%= "Posted " + time_ago_in_words(post.created_at) + " ago by " + post.user.login %></label> <br/>
</div>